@use "../../abstracts" as *;

.how-works {
  position: relative;
  display: grid;

  background-size: contain;
  background: #000 url(#{$path-assets}/backHowItWorks.png) no-repeat center 70px;
  color: #ffffff;

  @media (max-width: $breakpoint-sm) {
    padding-top: 80px;
    background: #000 url(#{$path-assets}/backHowItWorks-mobile.png) no-repeat center 70px;
  }
  
  &__container {
    z-index: 3;
    overflow: initial;
  }

  &__title {
    margin-bottom: 4.375rem;
    color: inherit;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &-item {
      @media (max-width: $breakpoint-md) {
        border-radius: 30px;
        background-color: #ffffff;
        padding: 1.875rem 2.185rem;
      }

      &.active {
        .how-works__accordion-content {
          grid-template-rows: 1fr;
        }

        .how-works__accordion-title {
          &::before {
            opacity: 0
          }
        }
      }

    }

    &-title {
      cursor: pointer;
      position: relative;

      color: #000;
      background-color: #ffffff;
      border-radius: 30px;

      font-family: $font-family-accent;
      font-size: 2.5rem;
      font-weight: $font-weight-bold;
      letter-spacing: 2px;

      padding: 3.05rem 5.05rem 3rem 3.05rem;

      @media (max-width: $breakpoint-xl) {
        padding: 2rem 4rem 2rem 3rem;
        font-size: 2rem;
      }

      @media (max-width: $breakpoint-md) {
        padding: 0;
        margin-bottom: 1.25rem;
        border-radius: 0;
        background-color: transparent;
        font-size: 1.625rem;
      }

      &::before {
        transform: rotate(-90deg);
      }

      &::after,
      &::before, {
        scale: 1;
        content: '';
        display: block;
        position: absolute;
        right: 3rem;

        width: 30px;
        height: 3px;
        background-color: #000000;
        top: 53%;

        @media (max-width: $breakpoint-md) {
          display: none;
        }

        transition: all .1s ease-in;
      }
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;

      color: #FFF;

      font-family: $font-family-base;
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 1.6em;
      letter-spacing: 1.3px;

      padding: 1.25rem 3.75rem 0;

      transition: grid-template-rows .2s ease-in;


      @media (max-width: $breakpoint-xl) {
        font-size: 1.25rem;
      }

      @media (max-width: $breakpoint-md) {
        grid-template-rows: 1fr;
        padding: 0;

        font-size: 1rem;
        font-weight: 500;
        color: #000000;
      }
    }
  }
}