@use "../../abstracts" as *;

.footer {
  background-color: #000;
  padding-block: 3.625rem;

  color: #FFF;
  font-family: $font-family-base;
  font-size: 1.25rem;
  font-weight: 500;

  @media (max-width: $breakpoint-sm) {
    font-size: 1.125rem;
  }

  a {
    color: #FFF;
    font-family: $font-family-base;
    font-size: 1.25rem;
    font-weight: 500;

    @media (max-width: $breakpoint-sm) {
      font-size: 1.125rem;
    }
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-sm) {
      font-size: 1.6rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__col {
    flex: 1;

    &--logo {
      padding-bottom: 30px;
    }

    &--logo,
    &--contacts {
      flex-shrink: 1;
      flex-grow: 1.5;
    }
  }

  &__copyright {
    margin-top: 1.5rem;
  }
}